.list {
  display: inline-block;
  max-width: 250px;
  min-height: 500px;
  margin-right: 20px;
}

.listTitle {
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}

.listTitle:hover {
  color: #1890ff;
}
