.loader {
  text-align: center;
}

.board {
  padding-left: 20px;
  padding-right: 20px;
}

.lists {
  overflow: auto;
  white-space: nowrap;
}

.title {
  display: flex;
}

.title i {
  margin-top: 11px;
  margin-left: 5px;
  cursor: pointer;
}

.title i:hover {
  color: #f2d600;
}

.active {
  color: #f2d600;
}
