.cardControls {
  position: absolute;
  top: 5px;
  right: 0;
  transform: rotate(90deg);
  cursor: pointer;
}

.card i:hover {
  color: #1890ff;
}

.cardTitleForm,
.cardTitleForm:focus {
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0;
  position: relative;
}

.cardOperations {
  cursor: pointer;
}

.cardOperations:not(:last-child) {
  margin-bottom: 5px;
}

.cardOperations:hover {
  color: #1890ff;
}

.cardTitle {
  cursor: pointer;
}

.cardTitle:hover {
  color: #1890ff;
}

.cardDescriptionIcon {
  margin-right: 5px;
  position: relative;
  top: 1px;
}
