* {
  box-sizing: border-box;
}

.container {
  padding: 15px;
}

.board {
  overflow: auto;
  white-space: nowrap;
}

.list {
  display: inline-block;
  width: 200px;
  background-color: #eee;
  padding: 10px;
  text-align: center;
  vertical-align: top;
  margin: 10px 10px 5px;
  position: relative;
}

.carts-container {
  min-height: 400px;
}

.list-title-row {
  padding-right: 30px;
}

.list-item > * {
  margin-bottom: 10px;
}

.list input {
  width: 100%;
}

.cart {
  position: relative;
  background: #fff;
  padding: 5px 30px 5px 5px;
  margin-bottom: 5px;
}

.edit-container {
  width: 107px;
}

.list-edit-container {
  width: 117px;
}

.delete-cart {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.delete-cart:hover {
  text-decoration: underline;
}

.edit-cart {
  position: absolute;
  right: 20px;
  top: 5px;
  color: 5px;
  cursor: pointer;
}

.edit-cart:hover {
  text-decoration: underline;
}

.delete-list {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.list-title {
  position: relative;
}

.btn {
  display: block;
  cursor: pointer;
  padding: 5px;
}

.nav > div {
  display: inline-block;
}

.nav > div a {
  display: block;
  padding: 10px;
}

.board-list {
  display: inline-block;
  width: 200px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  background-color: #eee;
}

.board-list a {
  display: block;
  padding: 50px;
}

.list-add-cart {
  display: table;
  width: 65%;
  margin-bottom: 10px;
}

.list-add-cart input {
  display: table-cell;
}

.list-add-cart button {
  display: table-cell;
  height: 21px;
  vertical-align: middle;
  padding: 0 5px;
}

.edit-list {
  position: absolute;
  right: 25px;
  cursor: pointer;
}

.delete-list:hover {
  text-decoration: underline;
}

.edit-list:hover {
  text-decoration: underline;
}

.edit-list input {
  display: table-cell;
}

.edit-list button {
  display: table-cell;
  height: 21px;
  vertical-align: middle;
  padding: 0 5px;
}
